 *{
    margin: 0%;
    font-family:" Montserrat" ,sans-serif;
}
/*
.progress-bar{
    width: 350px;
    height: 10px;
    background-color: rgb(238, 238, 238);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;

}
.loading{
    width:max-content;
    height:max-content;
    font-size: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    bottom: 0;
    margin: auto;
}
.progress{
    width: 0%;
    height: 100%;
    background: rgb(10, 244, 34);
    border-radius: 30px;
    /* animation: move 3s linear; 
}*/
/* @keyframes move {
    to{
        width: 100%;
    }
} */ 

.progress{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.progress-circle{
    stroke-dasharray: 189;
    stroke-dashoffset: 189;
}